#Files not to be committed into git
/src/public/stylesheets/style.css
/src/nbproject/

*.pdf

#Added Test folder under algorithms to ignored files
src/node_modules/algorithm/Test
requestState - Copy.json
requestState.json
requestState2.json
Test/
/src/node_modules
