<% include header %>
<% include reusables/jumbotron_about %>
    <div class="row-fluid step-header span12">
        <div class="step-container">
        <p>This is a project developed by Dr. Nawwaf kharma, and implemented by Gabriel Belmonte and Anas Ambri. It ought to solve the problem
           of designing Hammerhead ribozymes. It uses sfold and Unafold, whose licenses can be found here and here.</p>
        <p>For more information on the project, or have access to the underlying REST API available to use this server, feel free to contact 
        Dr. Kharma at the address: kharma@ece.concordia.ca</p>
        </div>
    </div>
<% include footer %>