<% include header %>
    <div class="row-fluid step-header span12">
        <div class="step-container">
    We got you covered. You can close this tab for now.
        </div>
    </div>
<% include footer %>