  </div>
    <div id="footer">
        <div class="span3">
                <p>Copyright Nawwaf Kharma<br/>
                PhD (London), PEng (Ontario)<br/>
                Associate Professor<br/>
                Department of Electrical & Computer Engineering, Concordia University<br/></p>
        </div>
        <div class="span3 offset8">
                <p>Site developed by Belmonte Gabriel and Anas Ambri</p>
        </div>
    </div>
  </body>
   <!--<script src="../../js/modernizr-2.6.2-custom.js"></script> -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="../../js/bootstrap.min.js"></script>
   <!--<script src="../../js/jquery.placeholder.min.js?v=2.0.7"></script>-->
   <script src="../../js/client_utils.js"></script>
   <script src="../../js/client.js"></script>
   <script src="../../js/melting_t.js"></script>
</html>