</div>
</div>
<div id="footer">
  <div class="span3 copyright">
    <p>Copyright Nawwaf Kharma<br/>
      PhD (London), PEng (Ontario)<br/>
      Associate Professor<br/>
      Department of Electrical & Computer Engineering, Concordia University</p>
    <p>Site developed by <a href="http://www.linkedin.com/profile/view?id=152078235">Gabriel Belmonte</a> and <a href="http://verybadalloc.com">Anas Ambri</a></p>
  </div>
</div>
</div>
</body>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="../../js/client_utils.js"></script>
<script src="../../js/model.js"></script>
<script src="../../js/client.js"></script>
<script src="../../js/melting_t.js"></script>
</html>
