    <footer id="footer">
        <div id="copyright">Created by Gabriel Belmonte and Anas Ambri </div>
    </footer>
  </body>
   <!--<script src="../../js/modernizr-2.6.2-custom.js"></script> -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="../../js/bootstrap.min.js"></script>
   <!--<script src="../../js/jquery.placeholder.min.js?v=2.0.7"></script>-->
   <script src="../../js/client_utils.js"></script>
   <script src="../../js/client.js"></script>
   <script src="../../js/melting_t.js"></script>
</html>