<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/client_algo.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <link rel='stylesheet' href='../../stylesheets/reset.css' />
    <link rel='stylesheet' href='../../stylesheets/fonts.css' />
    <link rel='stylesheet' href='../../stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='../../stylesheets/style.css' />
    <link rel="icon" type="image/png" href="../../images/favicon.png" />
  </head>
  <body>
    <div class="big-container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li <% if(title.indexOf("About") === -1 && title.indexOf("API") === -1){%>class="active"<%}%> ><a href="/ribosoft/">Home</a></li>
          <li <% if(title.indexOf("API") !== -1){%>class="active"<%}%> ><a href="/ribosoft/api">API</a></li>
        </ul>
        <a href="/ribosoft"><img src="../../images/icon.png" alt="Site logo" class="site-logo"/></a>
      </div>
      <hr/>
      <div class="container-narrow">
