<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/reset.css' />
    <link rel='stylesheet' href='../stylesheets/fonts.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="icon" type="image/png" href="../images/favicon.png" />
  </head>
  <body>
    <header id="header">

        <div class="color-palette">
            <div class="color-div" id="color1"></div>
            <div class="color-div" id="color2"></div>
            <div class="color-div" id="color3"></div>
            <div class="color-div" id="color4"></div>
            <div class="color-div" id="color5"></div>
            <div class="color-div" id="color6"></div>
            <div class="color-div" id="color7"></div>
            <div class="color-div" id="color8"></div>
            <div class="color-div" id="color9"></div>
            <div class="color-div" id="color10"></div>
        </div>
        <div class="color-palette">
            <div class="color-div" id="color11"></div>
            <div class="color-div" id="color12"></div>
            <div class="color-div" id="color13"></div>
            <div class="color-div" id="color14"></div>
            <div class="color-div" id="color15"></div>
            <div class="color-div" id="color16"></div>
            <div class="color-div" id="color17"></div>
            <div class="color-div" id="color18"></div>
            <div class="color-div" id="color19"></div>
            <div class="color-div" id="color20"></div>
        </div> 
        <div id="header-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div id="header-left">
            <img id="site-image" src="../images/icon.png" alt="Site icon"/>
        </div>

    </header>