<!DOCTYPE html>
<html class="no-js">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/reset.css' />
    <link rel='stylesheet' href='../stylesheets/fonts.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="icon" type="image/png" href="../images/favicon.png" />
  </head>
  <body>
    <header id="header" class="main">
        <div id="site-icon">
            <img src="../images/icon.png" alt="Site icon"/>
        </div>
        <div id="header-right">
            <div id="site-title"></div>
        </div>
    </header>