    <% include header %>
    <div id="wrapper-page" class="main">
        <div class="step" id="step1">
            <% include steps/step1 %>
        </div>
        <div class="step hidden" id="step2">
            <% include steps/step2 %>
        </div>
        <div class="step hidden" id="step3">
            <% include steps/step3 %>
        </div>
        <div class="step hidden" id="step4">
            <% include steps/step4 %>
        </div>
    </div>
    <% include footer %>