<% include header %>
<% include reusables/jumbotron %>
    <div class="row-fluid step-header span12">
        <div class="step-container">
        <% include steps/step1 %>
        </div>
    </div>
<% include footer %>