/* Colors */
$color2 = rgba(186, 197, 221, 0.85) /*For background*/
$subtitle1 = rgb(236, 182, 60) /*For subtitle text */
$subtitle2 = #DD8A44  /*For subtitle text */

body
  font: 14px TitilliumText25L400wt, Helvetica, Arial, sans-serif
  /* background-color: $color2 #F2F2F2*/
  background: url('../images/square_bg.png') $color2 repeat;

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

transition()
    -webkit-transition arguments
    -moz-transition arguments
    transition arguments

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

/* Left side of the header */
#header
    overflow hidden
#header-left
    width 70%
    float left 

#site-image
    width 450px
    image-rendering:optimizeQuality

#header-subtext
    color $subtitle1 /*or subtitle2 */
    font-size 21px
    font-family gentium_book-italic
    position relative
    bottom 40px
    left 125px

/* Right side of the header */
#header-right
    width 27.5%
    float left
    padding 2% 2.5% 0 0
    &>a
        margin-right 5%
        float right
        

/* On Firefox, this will remove the dotted gray outline */
input[type="button"]::-moz-focus-inner
  border 0

.main
  width 75%
  margin 2.5% auto 0
  background-color white
  box-shadow 0 0 5px rgba(0, 0, 0, 0.4)
  border-bottom 1px solid #DDDDDD
  border-radius 5px


#wrapper-page
    min-height 65%
    overflow hidden

.third
    width 32%

.column
    float left

#middle-column
    width 10%
    text-align center
    height 400px

#middle-column em
    font-size: 18px
    
.step
    margin 2.5%
    overflow auto

.step.hidden
    display none
    
#copyright 
    padding 1%
   
.step-header
    margin-bottom 20px
h3
    font 36px gentium_book-bold,Helvetica, Arial, sans-serif
    
h4.step-description
    font 18px gentium-regular,Helvetica, Arial, sans-serif

.step textarea,
.step input
    width 80%
    vertical-align middle
    overflow auto
    background-color #FFFFFF;
    border 1px solid #CCCCCC;
    border-radius 3px 3px 3px 3px
    color #555555
    height auto
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.075) inset
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;

.step input[type="button"]
    box-shadow 0px 1px 1px 1px rgba(0, 0, 0, 0.15)
    color #000

.step input.inner-button
    width 50%
    margin 0 auto
    display block

.step textarea:focus,
.step input:focus
    border-color rgba(82, 168, 236, 0.8)
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)
    outline 0 none

$step1-content-ht = 396px


#drop-zone
    border-width 4px
    border dashed #DDDDDD;
    vertical-align center
    height $step1-content-ht - (@border-width)*2

/* Might need to change these values using @media queries */
#step1 
    & textarea
        height 400px
        width 95%
    .column
        height $step1-content-ht

.substep-description
    text-align center
    margin-bottom 5%

#accession
    margin-bottom 5%

.filler
    height 5%
    width 100%
    float: left

#drop
    & .filler
        height 170px


#drop-zone-content
    margin auto
    width 35%
    text-align center

#drop-zone-content em
    font-size: 16px

#sequence-wrap
    width 90%
    margin 0 auto
    clear both
    & *
        float left
    & p
        width 2%

/* Footer of a step */
.step-footer
    padding 2.5% 0 1%
    clear both
    width 100%
    height 50px
    overflow hidden

.step-footer input.outer-button
    float right
    display inline-block
    max-width 10%
    min-height 70%
    margin-right 5%

.step-footer input.submit
    color #FFFFFF;
    background: #67B0EF; 
    background: -moz-linear-gradient(center top , #67B0EF, #2B5EA4) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67B0EF), color-stop(100%,#2B5EA4)); 
    background: -webkit-linear-gradient(top, #67B0EF 0%,#2B5EA4 100%); 
    background: -ms-linear-gradient(top, #67B0EF 0%, #2B5EA4 100%); 
    background: linear-gradient(to bottom, #67B0EF 0%, #2B5EA4 100%);
    /*filter progid:DXImageTransform.Microsoft.gradient( startColorstr='#67B0EF', endColorstr='#2B5EA4',GradientType=0 ); /* IE6-9 */*/
    text-shadow 0 -1px 0 #003366
