/* Colors */
$color_main_bg = #F0F0F0
$color_text_large = #012139
$color_highlight = #FF9035
$color_anchor = #41528A

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments

html,
body
    height 100%

.alert
    width 100% 

h1,h2,h3,h4,h5,h6
    margin 0

.big-container
    min-height 80%
    height auto !important

input[type="number"]
    width 56px

.invisible
    display none

.container-narrow
    margin 0 auto
    width 80%

.site-logo
    width 400px

.masthead
    background-position-x 100%
    background-position-y 80%
    min-height 20%
    width 90%
    margin 0 auto

.jumbotron
    text-align center
    width 50%
    margin 0 auto
    
    & h1
       font-size 48px
       line-height 115%
       margin-bottom 20px
   
    & .emp
        font-family gentium_book-bold_italic
        font-size 50.5px
    
    & #start_now
        font-size 22px
        
.btn,
.nav-pills>li>a
    font-family TitilliumText25L400wt

$step-content-minHeight = 396px

.row-fluid .tile
    width 40%
    margin-left 0

.container-marketing-tiles
    width 90%
    margin 0 auto
    overflow hidden

.marketing-tile
    width 26%
    margin 1% 1.5%
    padding 2%
    border-bottom 1px solid #DDDDDD;
    box-shadow 0 0 5px rgba(0, 0, 0, 0.6);
    min-height 110px
    & h3
        text-align center
    
.row-fluid .bar-separator
    float left
    text-align center

    & .filler
        min-height 150px

    & .emp
        font-family gentium_book-bold_italic
        font-size 28px

.step-container
    border-radius: 2px;

.step-contents
    margin-top 25px

.step-description
    font-size 14px
    line-height 90%

.step-buttons
    clear both
    padding 2.5% 0

    & > input
        float left

.input-selection
    margin 0% 12.5%
    overflow hidden

#sequence-wrap
    margin 2.5% 12.5% 0
    overflow hidden

#drop
    text-align right

#selectFileButton
    float right

#design-form i
    margin-right 50%

#design-form.pressed
    float left

#design-form.smaller-form 
    width 50%
    & i
        margin-right 0%

.design-help
    width 49.5%
    float left

#region-help
    margin-bottom 55px

#target-help
    margin-bottom 90px

#env-help
    margin-bottom 230px

#cutsites-help
    margin-bottom 80px

#shape-help
    margin-bottom 30px

#arm-help
    margin-bottom 250px

legend
    cursor pointer

.section-collapse:before
    content url('../images/collapse_arrow.png')

.section-expand:before
    content url('../images/expand_arrow.png')
    

.form-signin
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
      
      & .form-signin-heading,
      & .checkbox 
        margin-bottom: 10px;

      & input[type="text"],
      & input[type="password"] 
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      & .form-submit
        text-align center
        display block

.emailInvite
    margin-top 70px
    margin-bottom 30px
#footer
    background #333;
    padding-top 1%
    height: 20%;
    text-align: left;
    color: white
    clear both
    position relative
    font-family gentium_book-bold

    & .copyright
      width 90%
      margin 0 auto
      text-align right

.icon-question-sign:hover
    cursor pointer

/**** API ****/
.parameter-desc
    padding-left 20px

.design-parameter > em
    font-size 14px
    font-style normal
    font-weight bold