body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}
.main {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
}
#wrapper-page {
  min-height: 65%;
}
