<h3 class="step-title"><%= stepTitle %></h3>
<p class="step-description"><%= resultMessage %></p>
<% if(results) { %>
  <script>
  var results = <%- JSON.stringify(results) %>;
  DecompressRequest(results);
  var container = results.CutsiteTypesCandidateContainer;
  var html ="<div class='step-contents center'>\
  <table class='table table-hover' id='results'>\
       <thead>\
           <th>Cut-site Number</th>\
           <th>Sequence</th> \
           <th>Melting Temperature (&deg;C)</th> \
           <th>Accessibility 1</th> \
           <th>Accessibility 2</th> \
           <th>Ribozyme Shape Quality</th> \
           <th>Weighted off-target hits</th> \
           <th>Overall Rank</th> \
       </thead>";
       container.forEach(function(type, ind1) {
            type.Cutsites.forEach(function(cutsite,ind2) { 
                 cutsite.Candidates.forEach(function(candidate,ind3) {
		 html +="<tr> \
                  <td>"+cutsite.ID+"</td> \
                  <td>"+candidate.Sequence+"</td> \
                  <td>"+candidate.MeltingTemperature+"</td> \
                  <td>"+candidate.Fitness_Target+"</td> \
                  <td>"+candidate.Fitness_Target_dG+"</td> \
                  <td>"+candidate.Fitness_Shape+"</td> \
                  <td info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry'>"+candidate.Fitness_Specificity+"</td> \
                  <td>"+candidate.rank+" </td> \
                </tr>";
                })
            })
       })
    html += "</table>";
    $('.step-container').append(html);
  </script>
  <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Candidate description</h4>
	</div>
	<div class="modal-body" id="modal-body">
	  <div class="candidate-details">
	    <h5>Sequence</h5><p id="sequence"></p>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a id="download-link" class="btn btn-primary" download="sequence.txt" href="data:text/plain">Download Sequence</a>
	</div>
      </div>
    </div>
  </div>
</div>
<% } %>
