<h3 class="step-title"><%= stepTitle %></h3>
<p class="step-description"><%= resultMessage %></p>
<% if(results) { %>
  <script>
  var results = <%- JSON.stringify(results) %>;
  DecompressRequest(results);
  var container = results.CutsiteTypesCandidateContainer;
  var html ="<div class='step-contents center'>\
  <table class='table table-striped' id='results'>\
       <thead>\
           <th>Cutsite Number</th>\
           <th>Sequence</th> \
           <th>Melting Temperature (C)</th> \
           <th>Target Site Fitness</th> \
           <th>Target Delta Free Energy</th> \
           <th>Shape Fitness</th> \
           <th>Weighted off-target hits</th> \
           <th>Pareto Rank</th> \
       </thead>";
       container.forEach(function(type, ind1) {
            type.Cutsites.forEach(function(cutsite,ind2) { 
                 cutsite.Candidates.forEach(function(candidate,ind3) {
		 html +="<tr> \
                  <td>"+cutsite.ID+"</td> \
                  <td>"+candidate.Sequence+"</td> \
                  <td>"+candidate.MeltingTemperature+"</td> \
                  <td>"+candidate.Fitness_Target+"</td> \
                  <td>"+candidate.Fitness_Target_dG+"</td> \
                  <td>"+candidate.Fitness_Shape+"</td> \
                  <td  info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry' style='color: blue; cursor: pointer;'>"+candidate.Fitness_Specificity+"</td> \
                  <td>"+candidate.rank+" </td> \
                </tr>";
                })
            })
       })
    html += "</table></div>";
    $('.step-container').append(html);
    $('.specificity-entry').click
    (  
    function(e)
    {
      var target = $(e.target);
      try{
        var inx = target.attr('info').split(',');
        var offtar_hits = results.CutsiteTypesCandidateContainer[parseInt(inx[0])].Cutsites[parseInt(inx[1])].OfftargetLocations ;
        var print = offtar_hits.join('\n');
        alert(print);
      }
      catch (err)
      {console.log(err);console.log(err.message);}
    
    });
  </script>
<% } %>
