<h3 class="step-title">Step 2 - Design Options</h3>
<h4 class="step-description">Please select the options that will be applied during the design of the ribozyme.</h4>
<form class = "design-form">
    <fieldset class="option-field"><legend>Regions for target design</legend>
        <input class="third" type="radio" name="region" value="5">5'UTR</input>
        <input class="third" type="radio" name="region" value="ORF">Open Reading Frame (ORF)</input>
        <input class="third" type="radio" name="region" value="3">3'UTR</input>
    </fieldset>
    <fieldset class="option-field"><legend>Target environment</legend>
        <div class="half">
            <input type="radio" name="env" value="vitro">In-vitro</input>
        </div>
        <div class="half>
            <input type="radio" name="env" value="vivo">In-vivo</input>
            <select name="env-vivo">
                <option value="mouse">Mouse</option>
                <option value="rat">Rat</option>
                <option value="bYeast">S. cerevisiae</option>
                <option value="fYeast">S. pombe</option>
                <option value="neurospora">Neurospora</option>
                <option value="amoebae">D. discoideum</option>
                <option value="worm">C. elegans</option>
                <option value="flea">Daphnia</option>
                <option value="fly">D. melanogaster</option>
                <option value="zebrafish">D. rerio</option>
                <option value="frog">Xenopus</option>
                <option value="chicken">Gallus</option>
                <option value="arabidopsis">Arabidopsis</option>
            </select>
        </div>
    </fieldset>
    <fieldset class="option-field"><legend>Environment Properties</legend>
        <label for="temperature">Temperature</label>
        <input type="text" name="temperature" autocomplete="on" value="37&#176;C"/><br/>
        <label for="naC">Na&#8314; Concentration</label>
        <input type="text" name="naC" autocomplete="on" value="50 mM"/><br/>
        <label for="mgC">Mg&#8314;&#8314; Concentration</label>
        <input type="text" name="mgC" autocomplete="on" value="0 mM"/><br/>
        <label for="oligomerC">Oligomer Concentration</label>
        <input type="text" name="oligomerC" autocomplete="on" value="200nM"/><br/>
    </fieldset>
    <fieldset class="option-field"><legend>Potential Cut-sites</legend>
        <label for="cutsites">Preferred cutsite(s)</label>
        <select name="cutsites" multiple="multiple">
            <option value="guc" selected="selected">GUC</option>
            <option value="auc">AUC</option>
            <option value="cuc">CUC</option>
            <option value="cug">CUG</option>
            <option value="cua">CUA</option>
        </select>        
    </fieldset>
    <fieldset class="option-field"><legend>Ribozyme Shape</legend>
        <div class="half column">
            <input name="shape" type="image" src="../../images/icon.png" alt="Site icon" value="/>
        </div>
        <div class="half column">
            <input type="image" src="../../images/icon.png" alt="Site icon"/>
        </div>
    </fieldset>
    <fieldset class="option-field"><legend>Folding type</legend>
        <div class="half column">
           <input type="checkbox" name="fold" value="mfold">m-Fold</input>
        </div>
        <div class="half column">
            <input type="checkbox" name="fold" value="sfold">s-Fold</input>
        </div>
    </fieldset>

    <div class="step-footer full-width">
        <input type="button" class="submit outer-button" id="submit1" value="Submit"/>
        <input type="button" class="reset outer-button" value="Reset"/>
        <input type="button" class="outer-button" value="Advanced Options"/>
    </div>
</form>