<h3 class="step-title"><%= stepTitle %></h3>
<h4 class="step-description">Here are the design options that will be applied to the sequence.</h4>
    <div class="summary">
        <table>
            <thead>
                <tr>
                    <th>Design Option</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Length of sequence</td>
                    <td>43</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="step-footer full-width">
        <input type="submit" class="submit outer-button" id="submit2" value="Submit"/>
        <input type="button" class="reset outer-button" value="Back"/>
    </div>
</form>