<h3 class="step-title"><%= stepTitle %></h3>
<p class="step-description"><%= resultMessage %></p>
<% if(results) { %>
  <script>
  var results = <%- JSON.stringify(results) %>;
  DecompressRequest(results);
  var container = results.CutsiteTypesCandidateContainer;
  var html ="<div class='center'>\
  <table class='table table-striped' id="results">\
       <thead>\
           <th>Cutsite Number</th>\
           <th>Sequence</th> \
	   <th>Target Site Fitness</th> \
           <th>Shape Fitness</th> \
           <th>Shape Free energy change</th> \
           <th>Specificity Fitness Melting Temperature (K)</th> \
	   <th>Pareto Rank</th> \
       </thead>";
       container.forEach(function(type) {
            type.Cutsites.forEach(function(cutsite) { 
                 cutsite.Candidates.forEach(function(candidate) {
		 html +="<tr> \
                  <td>"+cutsite.ID+"</td> \
                  <td>"+candidate.Sequence+"</td> \
                  <td>"+candidate.Fitness_Target+"</td> \
                  <td>"+candidate.Fitness_Shape+"</td> \
                  <td>"+candidate.Fitness_Shape_dG+"</td> \
                  <td>"+candidate.MeltingTemperature+"</td> \
                  <td>"+candidate.rank+" </td> \
                </tr>";
                })
            })
       })
    html += "</table></div>";
    $('.step-container').append(html);
  </script>
<% } %>
