<div class="step-header">
    <h3 class="step-title">Step 1</h3>
    <h4 class="step-description">Copy-paste a sequence, or select a text file to upload your sequence.</h4>
</div>
<div id="accession">
    <textarea placeholder="Accession number"></textarea>
</div>
<div class="accession-footer">
    <input id="submit_ACN" class="submit outer-button" type="button" value="Check">
</div>

<div class="half column">
    <textarea placeholder="Paste your sequence here..."></textarea>
</div>
<div class="column" id="middle-column">
    <div class="filler"></div>
    <p>Or</p>
</div>
<div class="half column">
    <div id="drop-zone">
        <div class="filler"></div>
        <div id="drop-zone-content">
<p>Drop your file here<br/> or <input class="inner-button" type="button" value="Select file"/></p>
        </div>
    </div>
</div>
<div class="step-footer">
    <input type="button" class="submit outer-button" id="submit1" value="Submit"/>
    <input type="button" class="reset outer-button" value="Reset"/>
</div>