<div class="jumbotron">
    <h1>Designing Hammerhead Ribozymes has never been so <span class="emp">simple</span></h1>
    <button class="btn btn-large btn-success" id="start_now">Start Now</a>
</div>
<hr/>
