<div class="container-marketing-tiles">
     <div class="span4 marketing-tile">
       <h3>The Paper</h3>
       <p>In <a href="paper/">his paper</a>, Dr. Kharma describes the details of how Ribosoft works</p>
     </div>
     <div class="span4 marketing-tile">
       <h3>The API</h3>
       <p>Ribosoft comes with a <a href="api/">JSON API</a> that allows you to design ribozymes from anywhere.</p>
     </div>
     <div class="span4 marketing-tile">
       <h3>The License</h3>
       <p>Refer to the <a href="about/">About page</a> for more details on how you can use Ribosoft.</p>
     </div>
</div>
<hr/>
